<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - 中国电信网格管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/loader-style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/js/calendar/css/calendar.css">
    <!--[if lt IE 9]>
        <script src="~/assets/js/html5.js"></script>
        <![endif]-->
    <link rel="shortcut icon" href="~/assets/ico/minus.png">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- TOP NAVBAR -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>
                <div id="logo-mobile" class="visible-xs">
                    <h1>中国电信</h1>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- /END OF TOP NAVBAR -->
    <!-- SIDE MENU -->
    <div id="skin-select">
        <div id="logo">
            <h1>中国电信</h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
            </form>
        </div>

        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="widget-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" asp-action="Index" asp-controller="Home" title="仪表盘">
                                <i class="icon-graph-pie"></i>
                                <span>仪表盘</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" asp-action="Index" asp-controller="Record" title="明细列表">
                                <i class="icon-menu"></i>
                                <span>明细列表</span>

                            </a>
                        </li>
                    </ul>

                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="design-kit"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" asp-controller="Grid" asp-action="Index" title="查看地图">
                                <i class="icon-map"></i>
                                <span>查看地图</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" asp-controller="Grid" asp-action="Area" title="片区管理">
                                <i class="icon-help"></i>
                                <span>片区管理</span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" asp-controller="Grid" asp-action="Estate" title="小区管理">
                                <i class="icon-home"></i>
                                <span>小区管理</span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" asp-controller="Grid" asp-action="Statistics" title="报表统计">
                                <i class="icon-graph-bar"></i>
                                <span>报表统计</span>
                            </a>
                        </li>
                    </ul>

                    <ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">

                                <span class="component"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>

                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="map.html" title="用户管理">
                                <i class="icon-user"></i>
                                <span>用户管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->
    <div class="wrap-fluid" style="width: auto; margin-left: 250px;">
        <div class="container-fluid paper-wrap bevel tlbr">
            @RenderBody()
            <div class="footer-space"></div>
            <div id="footer">
                <div class="devider-footer-left"></div>
                <div class="time">
                    <p id="spanDate">
                    </p><p id="clock">
                    </p>
                </div>
                <div class="copyright">
                    © 2015 <a href="http://www.codecomb.com">Harbin Code Comb Technology</a>. All right Reserved.
                </div>
                <div class="devider-footer"></div>
            </div>
        </div>
    </div>
    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="~/assets/js/preloader.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/load.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>

    <!-- /MAIN EFFECT -->
    <!-- GAGE -->
    <script type="text/javascript" src="~/assets/js/calendar/underscore/underscore-min.js"></script>
    <!-- <script type="text/javascript" src="~/assets/js/calendar/bootstrap3/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="~/assets/js/calendar/jstimezonedetect/jstz.min.js"></script>

    <script type="text/javascript" src="~/assets/js/calendar/language/fr-FR.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/de-DE.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/el-GR.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/it-IT.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/pl-PL.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/pt-BR.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/es-MX.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/es-ES.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/ru-RU.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/language/sv-SE.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/calendar.js"></script>
    <script type="text/javascript" src="~/assets/js/calendar/app.js"></script>
</body>
</html>
