@{ 
    ViewBag.Title = "营业厅分布";
}
<link rel="stylesheet" type="text/css" href="~/assets/js/tag/jquery.tagsinput.css">
<script type="text/javascript" src="~/assets/js/tag/jquery.tagsinput.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g6DcirKK7FlGGGoiLwslU9kL"></script>
<style>
    #allmap {
        margin-top: -20px;
        height: calc(100% - 50px);
        width: 100%;
        position: absolute;
    }

    #business-hall {
        position: fixed;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
        z-index: 10;
    }
    
    #business-hall table td {
        padding: 5px;
    }

    #options {
        width: 170px;
        position: absolute;
        bottom: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 10;
    }

    .buttons {
        display: none;
        width: 150px;
    }
</style>
<div id="options">
    <p>
        <label class="options">
            <input type="checkbox" id="chkMoveBusinessHall" />
            允许拖拽营业厅
        </label>
        <label class="options">
            <input type="checkbox" id="chkLostBusinessHall" checked />
            显示流失用户的营业厅
        </label>
        <label class="options">
            <input type="checkbox" id="chkNormalBusinessHall" checked />
            显示未流失的营业厅
        </label>
        <input type="button" id="btnBHDetail" class="btn btn-info buttons" value="营业厅详情" />
        <input type="button" id="btnBackToBH" class="btn btn-warning buttons" value="返回全部营业厅" />
    </p>
</div>
<div id="business-hall">
    <table>
        <tr>
            <td class="td-gray">名称</td>
            <td id="bh-name"></td>
        </tr>
        <tr>
            <td class="td-gray">新增</td>
            <td id="bh-user-add"></td>
        </tr>
        <tr>
            <td class="td-gray">离网</td>
            <td id="bh-user-left"></td>
        </tr>
    </table>
</div>
<div id="allmap">
</div>
<script>
    // Building map
    var map = new BMap.Map("allmap");
    var detail = false;
    var current;
    map.addControl(new BMap.MapTypeControl());
    map.enableScrollWheelZoom(true);
    map.addEventListener("rightclick", function (e) {
        var point = { lon: e.point.lng, lat: e.point.lat };
        $('#txtLon').val(point.lon);
        $('#txtLat').val(point.lat);
        $('#modalCreateEstate').modal('show');
    });
    map.addEventListener("dragend", function () {
        BuildOverlays();
    });
    map.addEventListener("zoomend", function () {
        BuildOverlays();
    });
    var icon = new BMap.Icon("/assets/img/ct-normal.png", new BMap.Size(32, 32));
    var icon2 = new BMap.Icon("/assets/img/ct-warning.png", new BMap.Size(32, 32));
    var icon3 = new BMap.Icon("/assets/img/ct-danger.png", new BMap.Size(32, 32));
    var icon4 = new BMap.Icon("/assets/img/ct-inverse.png", new BMap.Size(32, 32));
    var icon5 = new BMap.Icon("/assets/img/ct-good.png", new BMap.Size(32, 32));
    var lock = false;

    // Building overlays
    function BuildOverlays()
    {
        if (detail) return;
        if (lock) return;
        lock = true;
        map.clearOverlays();
        map.enableDragging();
        var cp = map.getBounds(); //返回map可视区域，以地理坐标表示
        var sw = cp.getSouthWest(); //返回矩形区域的西南角
        var ne = cp.getNorthEast(); //返回矩形区域的东北角
        var left = sw.lng;
        var right = ne.lng;
        var top = ne.lat;
        var bottom = sw.lat;

        $.getJSON('/grid/GetBusinessHalls', { left: left, right: right, top: top, bottom: bottom }, function (data) {
            for(var i = 0; i < data.length; i++)
            {
                var pt = new BMap.Point(data[i].Lon, data[i].Lat);
                var ico = icon;
                if (data[i].Level == 1)
                    ico = icon2;
                else if (data[i].Level == 2)
                    ico = icon3;
                else if (data[i].Level == 3)
                    ico = icon4;
                else if (data[i].Level == 4 || data[i].Level == 5)
                    ico = icon5;
                if (!$('#chkNormalBusinessHall').is(':checked') && (data[i].Level == 0 || data[i].Level == 5))
                    continue;
                if (!$('#chkLostBusinessHall').is(':checked') && (data[i].Level == 1 || data[i].Level == 2 || data[i].Level == 4))
                    continue;
                var marker = new BMap.Marker(pt, { icon: ico });
                marker.Id = data[i].Id;
                marker.Title = data[i].Title;
                marker.Added = data[i].Added;
                marker.Left = data[i].Left;
                marker.Lon = data[i].Lon;
                marker.Lat = data[i].Lat;
                if ($('#chkMoveBusinessHall').is(':checked'))
                    marker.enableDragging();
                marker.addEventListener("click", function (e) {
                    detail = true;
                    current = e.target.Id;
                    $('.buttons').show();
                    $('.options').hide();
                    $.getJSON('/Grid/Approach/' + e.target.Id, {}, function (data) {
                        var mkr = e.target;
                        map.clearOverlays();
                        map.addOverlay(mkr);
                        for (var i = 0; i < data.length; i++) {
                            var pts = [];
                            pts.push(new BMap.Point(data[i].Lon, data[i].Lat));
                            pts.push(new BMap.Point(e.target.Lon, e.target.Lat));
                            var polyline = new BMap.Polyline(pts, {
                                strokeColor: 'blue',
                                strokeWeight: 2,
                                strokeOpacity: 0.5
                            });
                            map.addOverlay(polyline);
                        }
                    });
                });
                marker.addEventListener("dragend", function (e) {
                    e.target.Lon = e.point.lng;
                    e.target.Lat = e.point.lat;
                    $.post('/grid/modifybh', {
                        lon: e.point.lng,
                        lat: e.point.lat,
                        id: e.target.Id
                    });
                });
                marker.addEventListener("mouseover", function (e) {
                    var x = e.clientX;
                    var y = e.clientY;
                    $("#business-hall").css("left", x);
                    $("#business-hall").css("top", y);
                    $("#business-hall").show();
                    $("#bh-name").text(e.target.Title);
                    $("#bh-user-add").text(e.target.Added);
                    $("#bh-user-left").text(e.target.Left);
                });
                marker.addEventListener("mouseout", function (e) {
                    $("#business-hall").hide();
                });
                map.addOverlay(marker);
            }
            lock = false;
        });
    }

    // On loaded events
    $(document).ready(function () {
        setTimeout(function () {
            @if (Context.Request.Query.ContainsKey("lon"))
            {
            @($"map.centerAndZoom(new BMap.Point({Context.Request.Query["lon"]}, {Context.Request.Query["lat"]}), 16);")
            }
            else
            {
            @($"map.centerAndZoom(new BMap.Point({Config["Settings:DefaultLon"]}, {Config["Settings:DefaultLat"]}), {Config["Settings:DefaultZoom"]});")
            }
            BuildOverlays();
        }, 1000);
    });

    $('#btnBackToBH').click(function () {
        detail = false;
        BuildOverlays();
        $('.buttons').hide();
        $('.options').show();
    });

    $('#btnBHDetail').click(function () {
        window.location = '/grid/businesshalldetail/' + current;
    });

    $('#chkMoveBusinessHall').click(function () {
        BuildOverlays();
    });

    $('#chkLostBusinessHall').click(function () {
        BuildOverlays();
    });

    $('#chkNormalBusinessHall').click(function () {
        BuildOverlays();
    });
</script>