@{ 
    ViewBag.Title = "客户分布";
}
<link rel="stylesheet" type="text/css" href="~/assets/js/tag/jquery.tagsinput.css">
<script type="text/javascript" src="~/assets/js/tag/jquery.tagsinput.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g6DcirKK7FlGGGoiLwslU9kL"></script>
<style>
    #allmap {
        margin-top: -20px;
        height: calc(100% - 50px);
        width: 100%;
        position: absolute;
    }

    #estate {
        position: fixed;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
        z-index: 10;
    }
    
    #estate table td {
        padding: 5px;
    }

    #options {
        width: 160px;
        position: absolute;
        bottom: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 10;
    }

    #point-list .badge {
        margin: 5px;
    }
</style>
<div id="options">
    <p>
        <label>
            <input type="checkbox" id="chkMoveEstate" />
            允许拖拽移动小区
        </label>
        <label>
            <input type="checkbox" id="chkNoCustomerEstate" />
            显示没有用户的小区
        </label>
        <label>
            <input type="checkbox" id="chkLostEstate" checked />
            显示流失用户的小区
        </label>
        <label>
            <input type="checkbox" id="chkNormalEstate" checked />
            显示未流失的小区
        </label>
        <input type="button" value="圈定范围" class="btn btn-warning" id="btnCircle" />
        <input type="button" value="取消圈定范围" class="btn" style="display:none" id="btnCancelCircle" />
    </p>
</div>
<div class="modal fade" id="modalCreateEstate" tabindex="-1" role="dialog" aria-labelledby="modalCreateEstate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CreateEstate" asp-controller="Grid" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">创建小区</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>小区名称</td>
                            <td><input type="text" class="form-control" name="title" /></td>
                        </tr>
                        @if (User.IsInRole("系统管理员"))
                        {
                            <tr>
                                <td>片区编码</td>
                                <td><input type="text" class="form-control" name="area" /></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>所属片区编号</td>
                                <td>
                                    <select name="area" class="form-control">
                                        @foreach(string x in ViewBag.Areas)
                                        {
                                            <option>@x</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>经度</td>
                            <td><input type="text" class="form-control" name="lon" id="txtLon" /></td>
                        </tr>
                        <tr>
                            <td>纬度</td>
                            <td><input type="text" class="form-control" name="lat" id="txtLat" /></td>
                        </tr>
                        <tr>
                            <td>匹配规则</td>
                            <td>
                                <input type="text" class="form-control" id="tagsRule" />
                                <span>填写匹配规则，与明细中的地址对应，应为"XXX小区"、"XXX街XXX号"</span>
                                <input type="hidden" id="hidRules" name="rules" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <input type="submit" class="btn btn-primary" value="创建" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCircle" tabindex="-1" role="dialog" aria-labelledby="modalCircle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CreateEstate" asp-controller="Grid" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">圈选操作</h4>
                </div>
                <div class="modal-body">
                    <label>已选择端点</label>
                    <div id="point-list">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancelCircle" data-dismiss="modal">取消</button>
                    @if (User.IsInRole("系统管理员"))
                    {
                        <input type="button" id="btnAssign" class="btn btn-danger" value="分配片区" />
                    }
                    <input type="button" id="btnShowEstate" class="btn btn-primary" value="查看小区" />
                    <input type="button" id="btnShowCustomer" class="btn btn-success" value="查看用户" />
                    <input type="button" id="btnShowStatistics" class="btn btn-warning" value="统计报表" />
                </div>
            </form>
        </div>
    </div>
</div>

<div id="estate">
    <span id="infoEstate">加载中，请稍候...</span>
    <table id="tableEstate">
        <tr>
            <td class="td-gray">小区名称</td>
            <td id="estate-name"></td>
        </tr>
        <tr>
            <td class="td-gray">所属片区</td>
            <td id="estate-area"></td>
        </tr>
        <tr>
            <td class="td-gray">在用率</td>
            <td id="estate-rate"></td>
        </tr>
        <tr>
            <td class="td-gray">在用 / 总用户数</td>
            <td id="estate-user"></td>
        </tr>
        <tr>
            <td class="td-gray">非电信用户数</td>
            <td id="estate-user-non-ct"></td>
        </tr>
        <tr>
            <td class="td-gray">新增</td>
            <td id="estate-user-add"></td>
        </tr>
        <tr>
            <td class="td-gray">离网</td>
            <td id="estate-user-left"></td>
        </tr>
    </table>
</div>
<div id="allmap">
</div>
<script>
    // Building map
    var map = new BMap.Map("allmap");
    map.addControl(new BMap.MapTypeControl());
    map.enableScrollWheelZoom(true);
    map.addEventListener("rightclick", function (e) {
        var point = { lon: e.point.lng, lat: e.point.lat };
        $('#txtLon').val(point.lon);
        $('#txtLat').val(point.lat);
        $('#modalCreateEstate').modal('show');
    });
    map.addEventListener("dragend", function () {
        BuildOverlays();
    });
    map.addEventListener("zoomend", function () {
        BuildOverlays();
    });
    var icon = new BMap.Icon("/assets/img/estate.png", new BMap.Size(25, 52));
    var icon2 = new BMap.Icon("/assets/img/estate-warning.png", new BMap.Size(25, 52));
    var icon3 = new BMap.Icon("/assets/img/estate-error.png", new BMap.Size(25, 52));
    var icon4 = new BMap.Icon("/assets/img/estate-inverse.png", new BMap.Size(25, 52));
    var icon5 = new BMap.Icon("/assets/img/estate-good.png", new BMap.Size(25, 52));
    var lock = false;

    // Building overlays
    function BuildOverlays()
    {
        if (lock) return;
        lock = true;
        map.clearOverlays();
        circling = false;
        points = [];
        map.removeEventListener('click', leftclick);
        map.enableDragging();
        $('#btnCircle').show();
        $('#btnCancelCircle').hide();
        var cp = map.getBounds(); //返回map可视区域，以地理坐标表示
        var sw = cp.getSouthWest(); //返回矩形区域的西南角
        var ne = cp.getNorthEast(); //返回矩形区域的东北角
        var left = sw.lng;
        var right = ne.lng;
        var top = ne.lat;
        var bottom = sw.lat;

        $.getJSON('/grid/getestates', { left: left, right: right, top: top, bottom: bottom }, function (data) {
            for(var i = 0; i < data.length; i++)
            {
                var pt = new BMap.Point(data[i].Lon, data[i].Lat);
                var ico = icon;
                if (data[i].Level == 1)
                    ico = icon2;
                else if (data[i].Level == 2)
                    ico = icon3;
                else if (data[i].Level == 3)
                    ico = icon4;
                else if (data[i].Level == 4 || data[i].Level == 5)
                    ico = icon5;
                if (!$('#chkNoCustomerEstate').is(':checked') && data[i].Level == 3)
                    continue;
                if (!$('#chkNormalEstate').is(':checked') && (data[i].Level == 0 || data[i].Level == 5))
                    continue;
                if (!$('#chkLostEstate').is(':checked') && (data[i].Level == 1 || data[i].Level == 2 || data[i].Level == 4))
                    continue;
                var marker = new BMap.Marker(pt, { icon: ico });
                marker.Id = data[i].Id;
                if ($('#chkMoveEstate').is(':checked'))
                    marker.enableDragging();
                marker.addEventListener("click", function (e) {
                    window.location = '/Grid/Show/' + e.target.Id
                });
                marker.addEventListener("dragend", function (e) {
                    $.post('/grid/modifyposition', { lon: e.point.lng, lat: e.point.lat, id: e.target.Id });
                });
                marker.addEventListener("mouseover", function (e) {
                    var x = e.clientX;
                    var y = e.clientY;
                    $("#estate").css("left", x);
                    $("#estate").css("top", y);
                    $('#infoEstate').show();
                    $('#tableEstate').hide();
                    $("#estate").show();
                    $.getJSON('/Grid/GetEstateDetail/' + e.target.Id, {}, function (data) {
                        $("#estate-name").text(data.Title);
                        $("#estate-area").text(data.Area);
                        $("#estate-rate").text((data.UsingRate * 100).toFixed(2) + "%");
                        $("#estate-user").text(data.TotalInUsingUsers + " / " + data.TotalCTUsers);
                        $("#estate-user-non-ct").text(data.TotalNonCTUsers);
                        $("#estate-user-add").text(data.AddedUsers);
                        $("#estate-user-left").text(data.LeftUsers);
                        $('#infoEstate').hide();
                        $('#tableEstate').show();
                    });
                });
                marker.addEventListener("mouseout", function (e) {
                    $("#estate").hide();
                });
                map.addOverlay(marker);
            }
            lock = false;
        });
    }

    // On loaded events
    $(document).ready(function () {
        setTimeout(function () {
            @if (Context.Request.Query.ContainsKey("lon"))
            {
            @($"map.centerAndZoom(new BMap.Point({Context.Request.Query["lon"]}, {Context.Request.Query["lat"]}), 16);")
            }
            else
            {
            @($"map.centerAndZoom(new BMap.Point({Config["Settings:DefaultLon"]}, {Config["Settings:DefaultLat"]}), {Config["Settings:DefaultZoom"]});")
            }
            BuildOverlays();
        }, 1000);
    });

    function RebuildHidRules() {
        var tmp = $('#tagsRule_tagsinput').find('.tag span');
        var str = "";
        for (var i = 0; i < tmp.length; i++) {
            str += $(tmp[i]).text().trim() + ",";
        }
        $('#hidRules').val(str);
    }
    $('#tagsRule').tagsInput({
        width: 'auto', onChange: function (elem, elem_tags) {
            RebuildHidRules();
        }
    });

    $('#chkNoCustomerEstate').change(function () {
        BuildOverlays();
    });
    $('#chkLostEstate').change(function () {
        BuildOverlays();
    });
    $('#chkNormalEstate').change(function () {
        BuildOverlays();
    });
    $('#chkMoveEstate').change(function () {
        BuildOverlays();
    });

    var points = [];
    var circling = false;
    var leftclick = function (e) {
        var point = { lon: e.point.lng, lat: e.point.lat };
        if (points.length == 0) {
            var star = new BMap.Icon("/assets/img/start.png", new BMap.Size(29, 52));
            var pt = new BMap.Point(point.lon, point.lat);
            var marker = new BMap.Marker(pt, { icon: star });
            marker.addEventListener('click', function () {
                if (points.length >= 3) {
                    circling = false;
                    $('#point-list').html('');
                    for (var i = 0; i < points.length; i++) {
                        $('#point-list').append('<span class="badge badge-success">' + points[i].lon + ',' + points[i].lat + '</span>');
                    }
                    $('#modalCircle').modal('show');
                }
            });
            map.addOverlay(marker);
        } else {
            var last = points[points.length - 1];
            var pt1 = new BMap.Point(point.lon, point.lat);
            var pt2 = new BMap.Point(last.lon, last.lat);
            var line = new BMap.Polyline([pt1, pt2] , {
                strokeColor: "#e35454",//设置颜色 
                strokeWeight: 8, //宽度
                strokeOpacity: 1
            });
            map.addOverlay(line);
        }
        points.push(point);
    };
    $('#btnCircle').click(function () {
        circling = true;
        points = [];
        map.addEventListener("click", leftclick);
        map.disableDragging();
        $('#btnCircle').hide();
        $('#btnCancelCircle').show();
    });
    $('#btnCancelCircle').click(function () {
        BuildOverlays();
    });
    $(document).keyup(function (event) {
        if (event.keyCode == 27)
        {
            BuildOverlays();
        }
    });

    $('#btnCancelCircle').click(function () {
        BuildOverlays();
    });

    function BuildPointString()
    {
        var ret = "";
        for (var i = 0; i < points.length; i++) {
            ret += points[i].lon + '|' + points[i].lat + ',';
        }
        return ret;
    }

    $('#btnShowEstate').click(function () {
        location.href = '/grid/estate?circle=' + BuildPointString();
    });

    $('#btnShowCustomer').click(function () {
        location.href = '/grid/customer?circle=' + BuildPointString();
    });

    $('#btnShowStatistics').click(function () {
        location.href = '/grid/generatestatistics?circle=' + BuildPointString();
    });

    $('#btnAssign').click(function () {
        location.href = '/grid/assign?circle=' + BuildPointString();
    });
</script>