@{ 
    ViewBag.Title = "查看地图";
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g6DcirKK7FlGGGoiLwslU9kL"></script>
<style>
    #allmap {
        margin-top: -20px;
        height: calc(100% - 50px);
        width: 100%;
        position: absolute;
    }

    #estate {
        position: fixed;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
        z-index: 10;
    }
    
    #estate table td {
        padding: 5px;
    }
</style>
<div class="modal fade" id="modalCreateEstate" tabindex="-1" role="dialog" aria-labelledby="modalCreateEstate">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CreateEstate" asp-controller="Grid" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">创建小区</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>小区名称</td>
                            <td><input type="text" class="form-control" name="title" /></td>
                        </tr>
                        @if (User.IsInRole("系统管理员"))
                        {
                            <tr>
                                <td>所属片区编号</td>
                                <td><input type="text" class="form-control" name="area" /></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>所属片区编号</td>
                                <td>
                                    <select name="area" class="form-control">
                                        @foreach(string x in ViewBag.Areas)
                                        {
                                            <option>@x</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>经度</td>
                            <td><input type="text" class="form-control" name="lon" id="txtLon" /></td>
                        </tr>
                        <tr>
                            <td>纬度</td>
                            <td><input type="text" class="form-control" name="lat" id="txtLat" /></td>
                        </tr>
                        <tr>
                            <td>匹配规则</td>
                            <td><textarea class="form-control" placeholder="每行一个，例如'XX小区'、'XXX街XXX号'" name="rules"></textarea></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <input type="submit" class="btn btn-primary" value="创建" />
                </div>
            </form>
        </div>
    </div>
</div>
<div id="estate">
    <table>
        <tr>
            <td class="td-gray">小区名称</td>
            <td id="estate-name"></td>
        </tr>
        <tr>
            <td class="td-gray">所属片区</td>
            <td id="estate-area"></td>
        </tr>
        <tr>
            <td class="td-gray">在用率</td>
            <td id="estate-rate"></td>
        </tr>
        <tr>
            <td class="td-gray">在用 / 总用户数</td>
            <td id="estate-user"></td>
        </tr>
        <tr>
            <td class="td-gray">非电信用户数</td>
            <td id="estate-user-non-ct"></td>
        </tr>
    </table>
</div>
<div id="allmap">
</div>
<script>
    // Building map
    var map = new BMap.Map("allmap");
    map.addControl(new BMap.MapTypeControl());
    map.enableScrollWheelZoom(true);
    map.centerAndZoom(new BMap.Point(126.645098, 45.758188), 12);
    map.addEventListener("rightclick", function (e) {
        var point = { lon: e.point.lng, lat: e.point.lat };
        $('#txtLon').val(point.lon);
        $('#txtLat').val(point.lat);
        $('#modalCreateEstate').modal('show');
    });
    map.addEventListener("dragend", function () {
        BuildOverlays();
    });
    map.addEventListener("zoomend", function () {
        BuildOverlays();
    });
    var icon = new BMap.Icon("/assets/img/estate.png", new BMap.Size(25, 52));
    var lock = false;

    // Building overlays
    function BuildOverlays()
    {
        if (lock) return;
        lock = true;
        map.clearOverlays();
        var cp = map.getBounds(); //返回map可视区域，以地理坐标表示
        var sw = cp.getSouthWest(); //返回矩形区域的西南角
        var ne = cp.getNorthEast(); //返回矩形区域的东北角
        var left = sw.lng;
        var right = ne.lng;
        var top = ne.lat;
        var bottom = sw.lat;

        $.getJSON('/grid/getestates', { left: left, right: right, top: top, bottom: bottom }, function (data) {
            for(var i = 0; i < data.length; i++)
            {
                var pt = new BMap.Point(data[i].Lon, data[i].Lat);
                var color = 'green';
                if (data[i].UsingRate >= 0.5 && data[i].UsingRate < 1)
                    color = 'yellow';
                else if (data[i].UsingRate < 0.5)
                    color = 'red';
                var circle = new BMap.Circle(pt, 500, { fillColor: color, strokerColor: color, strokerWeight: 0.01, fillOpacity: 0.1, strokeOpacity: 0.01 });
                var marker = new BMap.Marker(pt, { icon: icon });
                marker.Id = data[i].Id;
                marker.Title = data[i].Title;
                marker.Area = data[i].Area;
                marker.UsingRate = data[i].UsingRate;
                marker.TotalCTUsers = data[i].TotalCTUsers;
                marker.TotalNonCTUsers = data[i].TotalNonCTUsers;
                marker.TotalInUsingUsers = data[i].TotalInUsingUsers;
                marker.circle = circle;
                marker.enableDragging();
                marker.addEventListener("click", function (e) {
                    window.location = '/Estate/Show/' + e.target.Id
                });
                marker.addEventListener("dragend", function (e) {
                    map.removeOverlay(e.target.circle);
                    $.post('/grid/modifyposition', { lon: e.point.lng, lat: e.point.lat, id: e.target.Id });
                    var newpos = { lat: e.point.lat, lon: e.point.lng };
                    var _color = 'green';
                    if (e.target.UsingRate >= 0.5 && e.target.UsingRate < 1)
                        _color = 'yellow';
                    else if (e.target.UsingRate < 0.5)
                        _color = 'red';
                    var _circle = new BMap.Circle(new BMap.Point(newpos.lon, newpos.lat), 500, { fillColor: _color, strokerColor: 'red', strokerWeight: 0.01, fillOpacity: 0.1, strokeOpacity: 0.01 });
                    e.target.circle = _circle;
                    map.addOverlay(e.target.circle);
                });
                marker.addEventListener("mouseover", function (e) {
                    var x = e.clientX;
                    var y = e.clientY;
                    $("#estate-name").text(e.target.Title);
                    $("#estate-area").text(e.target.Area);
                    $("#estate-rate").text((e.target.UsingRate * 100).toFixed(2) + "%");
                    $("#estate-user").text(e.target.TotalInUsingUsers + " / " + e.target.TotalCTUsers);
                    $("#estate-user-non-ct").text(e.target.TotalNonCTUsers);
                    $("#estate").css("left", x);
                    $("#estate").css("top", y);
                    $("#estate").show();
                });
                marker.addEventListener("mouseout", function (e) {
                    $("#estate").hide();
                });
                map.addOverlay(marker.circle);
                map.addOverlay(marker);
            }
            lock = false;
        });
    }

    // On loaded events
    $(document).ready(function ()
    {
        BuildOverlays(); 
    });
</script>